<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="div"><h1>{{title}}</h1>
{{>header}}
<p>THIS IS CREATED BY {{name}}</p>

<img  class="image" src="../img/image.jpg"></div>

{{>footer}}
</body>
</html>