<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" src="/weather-app/icon.jpg">
    <title>WEATHER TELLER</title>

</head>
<body>
 
   
    <div class="div">
        {{>header}}  
             <h3 class="head">ENTER THE LOCATION:</h3>
<form class="form" action="/" method="post">
    <input  class="input" type="text " name="LOCATION" placeholder="LOCATION">
    <button class="button" type="search">SEARCH</button>
</form>
<div id="para">
<p id="message1"></p>
<p id="message2"></p>
   </div>
   



    </div>
{{>footer}}
    <script src="./fetch.js"></script>
</body>
</html>


















